/* --- LAYOUT: FOOTER --- */

.main-footer {
  background-color: var(--brown-600);
  color: var(--white);
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-dev {
  font-size: 0.875rem;
  color: var(--brown-200);
  margin-top: 0.25rem;
}
