/* --- LAYOUT: PRODUTOS --- */

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  
}

.blue {
  background: var(--brown-600);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blue::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 150px;
  background-color: blue;
  clip-path: polygon(0% 0%, 0% 0%, 30% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.products-grid {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-top: 3rem;
}

.product-content-1, .product-content-2{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Responsividade para produtos */

@media (max-width: 824px) {
  .product-content-1, .product-content-2 {
    flex-direction: column;
  }
}
