/* --- LAYOUT: PRODUTOS --- */

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.blue {
  background: var(--brown-700);
}

.products-grid {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-top: 3rem;
}

.product-content-1, .product-content-2{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Responsividade para produtos */

@media (max-width: 700px) {
  .product-content-1, .product-content-2 {
    flex-direction: column;
  }
}
