/* --- COMPONENTES: GALERIA --- */

.section__gallery{
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-color: var(--white);
}

.section__gallery .section-subtitle {
  color: var(--brown-700);
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.gallery-grid img {
  width: 200px;
  height: 205px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-grid img:hover {
  box-shadow: 0 8px 32px rgba(236, 72, 153, 0.18);
}

@media(max-width:455px) {

  .gallery-grid img {
    width: 280px;
    height: 270px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
}